* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}

/* P/S (Nghịch) */

body {
  height: 100%;
  background-color: white    ;
  position: relative;
  animation: mymove 3s;
  animation-fill-mode:forwards;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
}

@keyframes mymove {
  from {top: 0px;}
  to {top: 100px; background-color: black;}
}

.slider {
    color: white;
    text-align: center;
    font-size:80px ;
    animation: textmove 3s;
    animation-fill-mode:forwards; 
    border-radius: 25px;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content:center;
    padding: 25px;
    margin: 0 20%;
}

@keyframes textmove {
    from {top: 0px;}
    to {top: 100px; background-color:white ; color: black;
    border: 1px transparent solid;
    }
}

.content {
    display: flex;
    justify-content:center;
}

.content a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 25px;
    margin: 25px;
    border-radius: 15px;
    transition-duration: 1s;
}

.content a:hover {
    color: black;
    background-color: white;
    border: 2px solid transparent;
}


.box {
  width: 150px;
  height: 150px;
  background: cyan;
  position: relative;
  animation: box infinite;
  animation-duration: 3s;
  margin-top: 13%;
  animation-delay: 2s;
  margin-left: -15%;
}

.cyan-box img {
    height: 100px;
    width: 100px;
    margin-left: 100px;
    padding: 10px;
}

@keyframes box {
  from {left: -200px;}
  to {left: 2000px;}
}